<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ocpanda.test" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HakkaTourSystem</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/image/android/mdpi.png" density="mdpi" />
        <icon src="www/image/android/hdpi.png" density="hdpi" />
        <icon src="www/image/android/xhdpi.png" density="xhdpi" />
        <icon src="www/image/android/xxhdpi.png" density="xxhdpi" />
        <icon src="www/image/android/xxxhdpi.png" density="xxxhdpi" />
        <splash density="land-hdpi" src="www/image/android/splash-land-hdpi.png" />  
        <splash density="land-ldpi" src="www/image/android/splash-land-ldpi.png" />  
        <splash density="land-mdpi" src="www/image/android/splash-land-mdpi.png" />  
        <splash density="land-xhdpi" src="www/image/android/splash-land-xhdpi.png" />  
        <splash density="port-hdpi" src="www/image/android/splash-port-hdpi.png" />  
        <splash density="port-ldpi" src="www/image/android/splash-port-ldpi.png" />  
        <splash density="port-mdpi" src="www/image/android/splash-port-mdpi.png" />  
        <splash density="port-xhdpi" src="www/image/android/splash-port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <engine name="android" spec="~6.1.2" />
    <engine name="android" spec="^6.2.3" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="^4.4.0" />
</widget>
