.btn0{
	float: left;
	position: absolute;
	height: 40px;
	width: 100%;
}
.btn1{
	float: left;
	position: absolute;
	top: 40px;
	height: 40px;
	width: 100%;	
}

.btn-default a:hover{
	text-decoration: none;
}

.showTable {
	position: absolute;
	top: 100px;
	width: 100%;
}

.searchImgRight {
	float: right;
	background-color: lightgray;
	border: 1px solid black;
	height: 100px;
	width: auto;
	font-weight: bold;
	text-align: center;
}

.searchImgMiddle {
	position: absolute;
	left: 35%;
	right: 40%
	background-color: lightgray;
	border: 1px solid black;
	height: 100px;
	width: auto;
	font-weight: bold;
	text-align: center;
}

.searchImgLeft {
	float: left;
	background-color: lightgray;
	border: 1px solid black;
	height: 100px;
	width: auto;
	font-weight: bold;
	text-align: center;
}


